@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "primeicons/primeicons.css";
@import "primereact/resources/primereact.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.sideBarLeft {
  height: 100vh;
}
.main-content {
  margin-left: 250px;
  padding: 20px;
  max-width: calc(100vw - 250px);
  width: calc(100% - 250px);
}

.app-container {
  display: flex;
}

.sidebar-container {
  position: fixed;
  width: 250px;
  height: 100vh;
}

.table-header {
  background-color: #1f2937;
  color: white;
  padding: 10px 20px;
  border-bottom: 1px solid #4b5563;
  border-radius: 0.25rem 0.25rem 0 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 98%;
  justify-content: center;
  margin-bottom: -20px;
  margin-left: auto;
  margin-right: auto;
}

.table-container {
  padding: 20px;
  border-radius: 0 0 0.25rem 0.25rem;
  overflow: auto;
  max-height: calc(100vh - 100px);
  scrollbar-width: none;
}

.table-title-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Login style */
.login-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f0f0f0; /* Color de fondo opcional */
}

.login-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333333;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-content {
  width: 400px; /* Ancho del formulario */
  padding: 30px;
  background-color: #ffffff; /* Color de fondo del formulario */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  border-radius: 5px;
}

.p-field {
  margin-bottom: 1.5rem; /* Espacio entre campos */
}

.p-float-label .p-inputtext-lg {
  width: 100%;
}

.p-button-lg {
  width: 100%;
  font-size: 1.5rem; /* Tamaño de fuente del botón */
  padding: 0.8rem 2rem; /* Padding más grande para el botón */
  background-color: #007ad9; /* Color del botón */
  color: #ffffff; /* Color del texto del botón */
  border: none;
}

.login__content__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.login__content__footer__link {
  color: #007ad9; /* Color del enlace */
  text-decoration: none;
}

.p-button-lg:hover {
  background-color: #0056b3; /* Color del botón al pasar el mouse */
}

/* Dashboard style */
.dash {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2rem;
}

.dash_header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.dash_body {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 1.2rem;
}

.dash_body_left,
.dash_body_right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.2rem;
  width: 49%;
}

.dash_body_left_top {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.dash_body_left_bottom {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.dash_body_right_top {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.dash_body_right_bottom {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.dash_body_right_bottom_left,
.dash_body_right_bottom_right {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.dash_subtitle {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 1em;
  text-align: center;
  padding: 0.3em;
  border-bottom: 2px solid #007ad9;
  border-radius: 5px;
}

.dash_subtitle_pie {
  font-size: 1em;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding: 0.4em;
  border-bottom: 2px solid #007ad9;
  border-radius: 5px;
}

/* Register style */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f5f5f5;
}

.register-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 0.8rem;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 100%;
  max-width: 400px;
}

.p-field {
  margin-bottom: 1em;
}

.p-float-label {
  position: relative;
}

.p-float-label input:focus,
.p-float-label .p-calendar:focus,
.p-float-label .rcrs-country:focus {
  border-color: #007ad9;
}

.loader__center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
