@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primeicons/primeicons.css";
@import "primereact/resources/primereact.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.sideBarLeft {
  height: 100vh;
}
.main-content {
  margin-left: 250px;
  padding: 20px;
  max-width: calc(100vw - 250px);
  width: 100%;
}

.app-container {
  display: flex;
}

.sidebar-container {
  position: fixed;
  width: 250px;
  height: 100vh;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
}

.table-header {
  background-color: #1f2937;
  color: white;
  padding: 10px 20px;
  border-bottom: 1px solid #4b5563;
  border-radius: 0.25rem 0.25rem 0 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.table-container {
  padding: 20px;
  border-radius: 0 0 0.25rem 0.25rem;
  overflow: auto;
  max-height: calc(100vh - 100px);
}

.table-title-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Login style */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Color de fondo opcional */
}

.login-content {
  width: 400px; /* Ancho del formulario */
  padding: 30px;
  background-color: #ffffff; /* Color de fondo del formulario */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  border-radius: 5px;
}

.p-field {
  margin-bottom: 1.5rem; /* Espacio entre campos */
}

.p-float-label .p-inputtext-lg {
  width: 100%;
}

.p-button-lg {
  width: 100%;
  font-size: 1.5rem; /* Tamaño de fuente del botón */
  padding: 1rem 2rem; /* Padding más grande para el botón */
  background-color: #007ad9; /* Color del botón */
  color: #ffffff; /* Color del texto del botón */
  border: none;
}

.p-button-lg:hover {
  background-color: #0056b3; /* Color del botón al pasar el mouse */
}

/* Dashboard style */
.dash {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.dash_header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.dash_body {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 2rem;
  box-shadow: 4px 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.dash_body_left,
.dash_body_right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}

.dash_body_right_bottom {
  display: flex;
}

.dash_body_right_bottom_left,
.dash_body_right_bottom_right {
  flex: 1;
}
